<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <!-- Primary Meta Tags -->
  <title>Home - Openjam</title>
  <meta name="title" content="Home - Openjam" />
  <meta name="description" content="OpenJam third-party Robocraft servers federation" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://git.ngram.ca/OpenJam/rc-servers" />
  <meta property="og:title" content="Home - Openjam" />
  <meta property="og:description" content="OpenJam third-party Robocraft servers federation" />
  <meta property="og:image" content="https://git.ngram.ca/OpenJam/rc-servers/raw/branch/main/assets/robocraft/favicon.jpg" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:url" content="https://git.ngram.ca/OpenJam/rc-servers" />
  <meta property="twitter:title" content="Home - Openjam" />
  <meta property="twitter:description" content="OpenJam third-party Robocraft servers federation" />
  <meta property="twitter:image" content="https://git.ngram.ca/OpenJam/rc-servers/raw/branch/main/assets/robocraft/favicon.jpg" />

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  {{> stylesheet}}
</head>
<body>
  <div class="form-stripe">
    <div class="form-header-right">
      {{#if form.is_logged_in}}
        Welcome {{form.display_name}}! |
        <a href="/dashboard">Dashboard</a> |
        <a href="/logout">Sign Out</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </div>
    <h1 class="form-banner">Welcome to <a href="https://git.ngram.ca/OpenJam">OpenJam</a> servers</h1>
    <h3 class="form-padded">FOSSifying proprietary games since 2025</h3>
    {{#if error}}
      <div class="form-error">
        <p class="form-error-message">{{error}}</p>
      </div>
    {{/if}}

    <div class="form-text-block">
      <p>
      This service allows you to manage your account settings, import and export your garage bays, view the server config, and will eventually (not yet) federate with other OpenJam rc-servers instances.
      {{#if form.is_logged_in}}You can view other known instances <a href="/federation">here</a>.{{/if}}
      This service is intended to have stable public APIs for expanding existing functionality.
      If you do not want any of this functionality in your instance, simply do not run this service with your instance.
      </p>
      <p>
      Interested in running your own server instance? Check out the <a href="https://git.ngram.ca/OpenJam/rc-servers/wiki/Server-Quickstart">quickstart guide</a> in the wiki.
      </p>
    </div>

    <div class="access-grid">
      <div class="access-box">
        <h4 class="access-box-title">Server Details</h4>
        <div class="box-details">
          <div class="box-details-key">Domain</div>
          <div class="box-details-value">{{form.server.domain}}</div>
          <div class="box-details-key">CDN</div>
          <div class="box-details-value"><a class="box-details-link" href="{{form.server.cdn}}">{{form.server.cdn}}</a></div>
          <div class="box-details-key">Auth</div>
          <div class="box-details-value"><a class="box-details-link" href="{{form.server.auth}}">{{form.server.auth}}</a></div>
          <div class="box-details-key">Factory</div>
          <div class="box-details-value"><a class="box-details-link" href="{{form.server.factory}}">{{form.server.factory}}</a></div>
          <div class="box-details-key">Client Version</div>
          <div class="box-details-value">>={{form.server.min_version}}</div>
          <div class="box-details-key">Server Version</div>
          <div class="box-details-value">{{form.server.server_version}}</div>
          <div class="box-details-key">Start Time</div>
          <div class="box-details-value"><time datetime="{{form.server.start_time_iso}}">{{form.server.start_time_iso}}</time></div>
        </div>
      </div>
      <div class="access-box">
        <h4 class="access-box-title">Server Links</h4>
        <div class="box-details">
          <div class="box-details-key">Feedback</div>
          <div class="box-details-value"><a class="box-details-link" href="{{form.links.feedback}}">{{form.links.feedback}}</a></div>
          <div class="box-details-key">Support</div>
          <div class="box-details-value"><a class="box-details-link" href="{{form.links.support}}">{{form.links.support}}</a></div>
          <div class="box-details-key">Wiki</div>
          <div class="box-details-value"><a class="box-details-link" href="{{form.links.wiki}}">{{form.links.wiki}}</a></div>
        </div>
      </div>
      <div class="access-box">
        <h4 class="access-box-title">Federation</h4>
        <div class="box-details">
          <div class="box-details-key">Enabled</div>
          <div class="box-details-value">{{form.fediverse.enabled}}</div>
          <div class="box-details-key">Aliases</div>
          <div class="box-details-value">
            {{#each form.fediverse.alias}}
              <span>{{@key}} -> {{this}}</span><br/>
            {{else}}
              <span>[None]</span>
            {{/each}}
          </div>
          <div class="box-details-key">Blocked</div>
          <div class="box-details-value">
            {{#each form.fediverse.defederated}}
              <span>{{this}}</span><br/>
            {{else}}
              <span>[None]</span>
            {{/each}}
          </div>
        </div>
      </div>
      <!--<div class="access-box">
        Grid item 4
      </div>
      <div class="access-box">
        Grid item 5
      </div>
      <div class="access-box">
        Grid item 6
      </div>
      <div class="access-box">
        Grid item 7
      </div>
      <div class="access-box">
        Grid item 8
      </div>-->
    </div>


    <footer>
      <div class="footer">
        {{version}}
        | <a href="{{source_url}}#readme">About</a>
        | <a href="https://liberapay.com/NGram">Support Me</a>
      </div>
    </footer>
  </div>
</body>
</html>
